'welcome':
  'showOnStartup': false
'editor':
  'softWrapAtPreferredLineLength': true
'core':
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'spell-check':
  'grammars': [
    'text.plain'
    'source.gfm'
    'text.git-commit'
  ]
'metrics':
  'userId': 'c8d2e8db-4c48-aaac-f472-2fe1e7705c57'
'exception-reporting':
  'userId': '23066bb9-13ba-e624-b0db-bbdc54eb9bfb'
